<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Call</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div id="login-page" class="page">
    <h2>Login As</h2>
    <input type="text" id="username"/>
    <button id="login">Login</button>
</div>
<div id="call-page" class="page">
    <video id="yours" autoplay></video>
    <video id="theirs" autoplay></video>
    <input type="text" id="their-username"/>
    <button id="call">Call</button>
    <button id="hang-up">Hang up</button>
</div>

<script src="javascripts/webRTC.min.js"></script>
</body>
</html>
